/* Pywal Colors */
@define-color background #131312;
@define-color foreground #c4c4c3;
@define-color color0 #131312;
@define-color color1 #aaa3a0;
@define-color color2 #aaa099;
@define-color color3 #c7beb3;
@define-color color4 #b9b1a7;
@define-color color5 #c3bdb0;
@define-color color6 #a6839b;
@define-color color7 #c4c4c3;
@define-color color8 #6e6e5a;
@define-color color9 #aaa3a0;
@define-color color10 #aaa099;
@define-color color11 #c7beb3;
@define-color color12 #b9b1a7;
@define-color color13 #c3bdb0;
@define-color color14 #a6839b;
@define-color color15 #c4c4c3;
